.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("@/assets/img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.cell {
    border: 2px solid white;
    margin: 0 -2px -2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $titleFont;
    font-size: 14px;
    color: white;
    a {
        color: white;
    }
    &:hover .sm {
        fill: #48b322;
    }
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    padding: 130px 0;
    position: relative;
    z-index: 1;
    @media (max-width: 1240px) {
        max-width: 940px;
    }
    @media (max-width: 980px) {
        max-width: 620px;
    }
    @media (max-width: 520px) {
        max-width: 300px;
    }
}

.text_block {
    max-width: 460px;
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p:first-child {
        font-family: $titleFont;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        z-index: 1;
        @media (max-width: 980px) {
            font-size: 2.5em;
            line-height: 44px;
        }
        @media (max-width: 520px) {
            font-size: 32px;
        }
    }
    p:last-child {
        font-family: $mainFont;
        font-size: 15px;
        line-height: normal;
        z-index: 1;
    }
    @media (max-width: 520px) {
        padding-top: 280px;
    }
}

.desciption {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    @media (max-width: 980px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.ptitle {
    font-family: $titleFont;
    font-size: 44px;
    font-weight: 300;
    line-height: 54px;
    text-transform: uppercase;
    @media (max-width: 980px) {
        font-size: 40px;
    }
    @media (max-width: 680px) {
        font-size: 32px;
        line-height: 44px;
    }
}

.text {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.line {
    height: 2px;
    background: linear-gradient(90deg, #d99543 0%, rgba(217, 149, 67, 0) 100%);
    z-index: 1;
}

.main_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    @media (max-width: 980px) {
        flex-direction: column;
        align-items: normal;
        gap: 60px;
        max-width: 620px;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
    @media (max-width: 980px) {
        flex-direction: row;
    }
}

.ellips {
    top: 240px;
    left: -260px;
    width: 747px;
    height: 444px;
    position: absolute;
    background-image: url("@/assets/img/ellipse2.png");
    @media (max-width: 520px) {
        top: 97px;
        left: -276px;
    }    
}

.advantages {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    z-index: 2;
    @media (max-width: 980px) {
        position: static;
    }
}

.advantage {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
    position: relative;
}

.adv_cont {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @media (max-width: 1240px) {
        max-width: 940px;
    }
    @media (max-width: 980px) {
        max-width: 620px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 40px;
    }
    @media (max-width: 520px) {
        max-width: 300px;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    p {
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}

.wrapper2p {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-color: black;
}

.bg {
    position: absolute;
    top: -800px;
    left: 50%;
    transform: translate(-50%);
    width: 1284px;
    height: 1752px;
    background-image: url("@/assets/img/ellipse.png");
    background-size: cover;
    background-position: center;
}

.table {
    display: grid;
    padding-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    :nth-child(3) {
        @media (min-width: 680px) and (max-width: 980px) {
            grid-column-end: span 2;
        }
    }
    @media (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.cell2 {
    border: 2px solid white;
    margin: 0 -2px -2px 0;
    padding: 30px 50px;
    &:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

.title2 {
    font-family: $titleFont;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}
