.oneLine {
    display: flex;
    align-items: center;
    gap: 25px;
}

.spaseBetween {
    display: flex;
    justify-content: space-between;
}

.padd20 {
    padding: 20px !important;
}

.mH100vh {
  min-height: 100vh;
}

.absL20 {
    position: absolute;
    left: 20px;
}

.absL40 {
    position: absolute;
    left: 40px;
}

.fS14 {
    font-size: 14px;
    line-height: normal;
}

.grin {
    color: #48b322;
}

.w66 {
    width: 66px;
    height: 66px;
}
.w44 {
    width: 44px;
    height: 44px;
}

.w86 {
    width: 86px;
    height: 86px;
}

.opacity {
    opacity: 0;
    transition: all .4s ease-in-out; 
}

.translate {
    transition: transform .4s ease-in-out;       
    &:hover {
        transform: translate(-40%);
    }
}

.mW640 {
 max-width: 640px;
}
