label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
input {
  padding: 16px 26px;
  margin-bottom: 30px;
  border-radius: 20px;
  margin-right: 10px;
}
textarea {
  padding: 16px 26px;
  border-radius: 14px;
  margin-bottom: 30px;
  font-size: 20px;
}
input,
textarea {
  width: 100%;
}
