.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: white;
  background-color: $g-999;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 46px;
  width: 100%;
  z-index: 2;
}

.navbar-logo {
  color: $g-999;
  font-weight: 700;
}

.navbar-item {
  margin-right: 30px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.navbar-link {
  display: block;
  transition: all 0.2s ease;
  color: $purple-color-100;
  // active link
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}
